# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset CICIDS2017
data/CICIDS-2017/

# Cache preprocessing
processed_*.joblib

# Sistema operativo
.DS_Store

# File temporanei
*.tmp
*.log